/* All */
body{
    font-family: Monaco, Monospace;
    text-align: center;
}
img{
    width: 300px;
    height: auto;
}
ul, ol, div, h2{
    text-align: left;
}


/* All titles in cranberry-sauce.html */
.cranberry{
    color: rgb(228, 139, 139);
}
/* cranberry-sauce.html main title */
h1.cranberry{
    color:white;
    background-color:rgb(228, 139, 139);
}
/* cranberry-sauce.html image */
#cranberry-main-img{
    width: 500px;
    height: auto;
}


/* All titles in sweet-potato-casserole.html */
.sweet-potato{
    color: rgb(255, 152, 17);
}
/* sweet-potato-casserole.html main title */
h1.sweet-potato{
    color:white;
    background-color: rgb(255, 152, 17);
}
/* sweet-potato-casserole.html main image */
#potato-main-img{
    width: 500px;
    height: auto;
}


/* All titles in stuffed-mushrooms.html */
.mushrooms{
    color: brown;
}
/* stuffed-mushrooms.html main title */
h1.mushrooms{
    color:white;
    background-color: brown;
}
/* stuffed-mushrooms.html main image */
#mushrooms-main-img{
    width: 500px;
    height: auto;
}

.links {
    list-style: none;
}
.links a {
    text-decoration: none;
    color: #EEEEEE;
    padding: 30px;
}
.links div {
    padding: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.cranberry-link {
    background-color: #548CA8;
}
.mushrooms-link {
    background-color: #476072;
}
.potato-link {
    background-color: #334257;
}

